// files
@import "header";
@import "homePage";
@import "article";
@import "author";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// Variables
@import 'variables';

body {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: 'Maven Pro', 'Nunito', sans-serif;
    min-width: 450px;

    #root {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

input, button {
    user-select: none;
}

.pages {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .page-number {
        width: 32px;
        height: 32px;
        margin: 12px;
        background-color: #eee;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            background-color: #ccc;
        }

        &.active {
            background-color: #fc5447;
        }
    }
}
